<footer>
  <div class="icons">
      <a href="mailto:qortmdalss@snu.ac.kr" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.svg" alt="Email" class="icon">
      </a>
      <a href="https://www.linkedin.com/in/seungmin-baek-37955520a/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn" class="icon">
      </a>
      <a href="https://scholar.google.com/citations?hl=en&user=Re-ekcAAAAAJ" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Google_Scholar_logo.png" alt="Google Scholar" class="icon">
      </a>
  </div>
</footer>