<header>
    <img src="/assets/profile.png" alt="Profile Picture" class="profile-img">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
</header>

<footer>
    <div class="social-icons">
        <a href="https://scholar.google.com/citations?hl=en&user=Re-ekcAAAAAJ" target="_blank">
            <i class="fas fa-graduation-cap"></i>
        </a>
        <a href="https://www.linkedin.com/in/seungmin-baek-37955520a/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:qortmdalss@snu.ac.kr">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
</footer>