body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    position: relative;
    bottom: 0;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.icon {
    width: 60px;
    height: 60px;
    filter: grayscale(100%);
}

.icon:hover {
    filter: none;
}
  


