body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.social-icons {
    margin-top: auto;
}

.social-icons a {
    color: black;
    margin: 0 15px;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: gray; /* LinkedIn color for hover effect */
}

.social-icons a i {
    vertical-align: middle;
}


